<p>ngx-extended-pdf-viewer works!</p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input type="file" (change)="onFileSelected($event)" />
      <button (click)="onView()">View</button>
    </div>
  </div>
</div>
@if (pdfSrc != '') {
<div class="row" style="width: 1000px;height: 1000px;" >
  <ngx-extended-pdf-viewer [src]="pdfSrc" [height]="'90vh'" 
  [showToolbar]="true"
  [showSidebarButton]="true"
  [showFindButton]="true"
  [showPagingButtons]="true"
  [showDrawEditor]="false"
  [showStampEditor]="false"
  [showTextEditor]="false"
  [showZoomButtons]="false"
  [showPresentationModeButton]="false"
  [showOpenFileButton]="false"
  [showPrintButton]="true"
  [showDownloadButton]="true"
  [showSecondaryToolbarButton]="false"
  [showRotateCwButton]="false"
  [showRotateCcwButton]="false"
  [showHandToolButton]="true"
  [showScrollingButton]="false"
  [showSpreadButton]="false"
  [showPropertiesButton]="false"
  >
  </ngx-extended-pdf-viewer>
</div>
}
