<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-header"></div>
    <!-- .sidebar-header -->
    <div class="sidebar-nav">
      <div
        class="btn-group btn-group-rounded justify-content-center d-flex mt-4 mb-5"
        role="group"
      >
        <input type="file" (change)="onFileSelected($event)" />
        <button (click)="onView()" class="btn btn-uppercase">View</button>
      </div>
        <!-- .btn-group -->
        <ul class="nav flex-column">
          <li>
            <div class="signature-box" (click)="onSignSelect()">
              Select Sign Here
            </div>
            <br />
            <div class="signature-box" (click)="AddSignatueOnPageLoad(null)">
              Add Signature
            </div>
          </li>
        </ul>
        <!-- .nav -->
      <div
        class="btn-group btn-group-rounded justify-content-center d-flex mt-4 mb-5"
        role="group"
      >
        <button
          type="button"
          class="btn btn-uppercase btn-primary px-4"
          (click)="SaveCordinates()"
        >
          Sign
        </button>
        <button type="button" class="btn btn-uppercase btn-secondary px-4">
          Cancel
        </button>
      </div>

    
    </div>
    <!-- .sidebar-nav -->
  </div>
  <!-- .sidebar -->

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="document-container">
            <div
              class="document-render"
              id="documentRender"
              style="height: 90vh"
            >
              <pdf-viewer
                [src]="pdfData"
                [render-text]="true"
                style="
                  max-width: 800px;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                "
                (click)="AddSignatueOnPageLoad($event)"
                id="pdfviwerData"
              ></pdf-viewer>
            </div>
            <!-- .document-render -->
          </div>
          <!-- .document-container -->
        </div>
        <div class="col-lg-4">
          <pre>{{ ObjCordinates | json }}</pre>
        </div>
        <!-- .col-## -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container-fluid -->
  </div>
  <!-- .content -->
</div>
